@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600&family=Syne:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: border-box;
}

:root {
    --main-color: rgb(235, 82, 71);

    --text-light-gray: #bfbfbf;
    --text-x-light-gray: #e6e6e6;

    --bg-black: #000;
    --bg-black-alpha-70: rgba(0, 0, 0, 0.7);
    --bg-black-alpha-95: rgba(0, 0, 0, 0.95);

    --border-color: rgba(255, 255, 255, 0.3);

    --container: 1170px;

    --fs-sm: 16px;
    --fs-md: 20px;
    --fs-lg: 23px;
    --fs-xl: 26px;
    --fs-2xl: 32px; 
    --fs-3xl: clamp(35px, 5vw, 60px);
    --fs-home: clamp(50px, 11vw, 150px);
    --fs-body: var(--fs-md);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    font-size: var(--fs-body);
    line-height: 1.5;
    color: var(--text-light-gray);
    background-color: var(--bg-black);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
body.t-img-gray img:not(.logo) {
    filter: grayscale(1);
}

a {
    color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-x-light-gray);
    line-height: 1.3;
}

p+p{
    margin-top: 15px;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

button {
    cursor: pointer;
    font-family: 'Syne', sans-serif;
}

.btn {
    display: inline-block;
    padding: 10px 28px;
    font-weight: 600;
    font-size: var(--fs-md);
    line-height: inherit;
    border-radius: 50%;
    vertical-align: middle;
    user-select: none;
    transition: all 0.5s ease;
    background-color: transparent;
    border: 1px solid;
    text-transform: capitalize;
}
.btn-1:hover,
.btn-2 {
    color: var(--text-x-light-gray);
}
.btn-1,
.btn-2:hover {
    color: var(--main-color);
}
.sec-center {
    text-align: center;
}
.section-title {
    font-size: var(--fs-3xl);
    font-weight: 600;
    text-transform: capitalize;
}

::selection {
    color: var(--text-x-light-gray);
    background-color: var(--main-color);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--bg-black);
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

/* preloader */
.preloader {
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bg-black);
    display: flex;
    align-items: center;
    justify-content: center;
}
.preloader-box {
    width: 125px;
    display: flex;
    flex-direction: column;
}

.preloader-img {
    align-self: center;
}

.preloader.loaded .preloader-box {
    transition: opacity 0.5s ease 0.5s;
    opacity: 0;
}

.preloader-dot {
    margin-top: 20px;
    height: 15px;
    width: 15px;
    background-color: var(--main-color);
    border-radius: 50%;
    animation: preloaderDot 2s cubic-bezier(.4, 1.19, .44, 1.23) infinite;
}

.preloader.loaded .preloader-dot {
    opacity: 0;
    transition: opacity .5s ease;
}

@keyframes preloaderDot {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(110px);
    }
}

.preloader-slide {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--main-color);
    transform: translateY(-100%);
}

.preloader.loaded .preloader-slide {
    animation: preloaderSlide 2s ease 1s;
}

@keyframes preloaderSlide {
    0%, 100% {
        transform: translateY(-100%);
    }
    50% {
        transform: translateY(0);
    }
}

/* animation aos */

[data-aos=fade-up] {
    transform: translate3d(0, 70%, 0);
}
[data-aos=scale-x-right] {
    transform: scale(0, 1);
    transform-origin: left;
}
[data-aos=scale-x-right].aos-animate{
    transform: scale(1);
}


/* wrapper */
.wrapper {
    overflow: hidden;
}

/* container */
.container {
    max-width: var(--container);
    margin: auto;
    padding: 0 15px;
}



/* header */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    width: 110px;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 15px 0;
    z-index: 2;
}

.header-toggler {
    width: 60px;
    color: var(--text-x-light-gray);
    font-size: var(--fs-md);
    font-weight: 500;
    text-transform: capitalize;
    z-index: 11;
    background-color: transparent;
    border: none;
    overflow: hidden;
}

.toggler {
    position: relative;
    display: block;
    transition: transform 0.5s ease;
}

.header-toggler.active .toggler {
    transform: translateY(-100%);
}

.toggler::after {
    content: attr(data-text);
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
}

.header-nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--bg-black-alpha-95);
    z-index: 10;
    display: flex;
    overflow-y: auto;
    transition: all 0.6s ease;
    opacity: 0;
    visibility: hidden;
}
.header-nav.open {
    visibility: visible;
    opacity: 1;
}

.header-list {
    margin: auto;
    padding: 80px 15px;
    max-width: var(--container);
    width: 100%;
}

.nav-link {
    color: var(--text-x-light-gray);
    display: block;
    font-size: var(--fs-3xl);
    text-transform: uppercase;
    font-weight: 600;
    padding: 20px 0;
    transition: color 0.5s ease;
    line-height: 1;
}
.nav-link:hover {
    color: var(--main-color);
}

.line {
    height: 1px;
    background-color: var(--border-color);
    width: 100%;
    display: block;
}

.nav-line {
    transition: transform 1s ease;
    transform: scale(0, 1);
    transform-origin: left;
}

.header-nav.open .nav-line {
    transform: scale(1);
}

/* home section */

.home {
    padding: 80px 0;
    position: relative;
}

.home-back {
    display: flex;
    justify-content: flex-end;
    padding-right: 150px;
}

.home-front {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: var(--container);
    padding: 0 15px;
}

.img-cover {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bg-black);
}

.img-cover[data-aos="slide-right"] {
    left: 100%;
}

.img-cover:nth-of-type(2) {
    opacity: 0.8;
}

.home-img-box {
    position: relative;
    overflow: hidden;
}
.home-title-wrap {
    display: flex;
    flex-direction: column;
}

.home-title {
    font-size: var(--fs-home);
    font-weight: bold;
    line-height: 1.1;
    padding-right: 230px;
    text-transform: uppercase;
}

.home-title:nth-child(2) {
    align-self: flex-end;
    color: var(--main-color);
}

/* about section */
.about {
    padding: 70px 0;
}

.about-header {
    margin-bottom: 50px;
}

.about-img-box {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.about-play-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.play-btn {
    height: 54px;
    width: 54px;
    background-color: var(--main-color);
    font-size: var(--fs-lg);
    color: var(--text-x-light-gray);
    border-radius: 50%;
    border: none;
    outline: none;
}

.play-btn::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--main-color);
    border-radius: 50%;
    z-index: -1;
    animation: play-btn 1s linear infinite;
}

@keyframes play-btn {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

.about-text {
    margin-bottom: 30px;
}

.about-avatar {
    display: flex;
    align-items: center;
    gap: 0 20px;
}

.avatar-img {
    border-radius: 50%;
}
.avatar-text {
    text-transform: capitalize;
}

.avatar-name {
    font-size: var(--fs-lg);
    font-weight: 600;
}

.video-popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 30px 15px;
    z-index: 11;
    background-color: var(--bg-black-alpha-70);
    display: flex;
    transition: all 0.5s ease;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
}

.video-popup.open {
    opacity: 1;
    visibility: visible;
}

.video-popup-inner {
    margin: auto;
    position: relative;
    width: 100%;
    max-width: 900px;
}
.video-popup-close {
    position: absolute;
    right: 0;
    top: -30px;
    background-color: transparent;
    color: var(--text-x-light-gray);
    border: none;
    font-size: var(--fs-lg);
    height: 30px;
    width: 30px;
    text-align: center;
    cursor: pointer;
}

.video-iframe-box {
    padding-top: 56.25%;
}

.video-iframe {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border: none;
    background-color: var(--bg-black);
}

/* services */
.services {
    padding: 70px 0;
}

.services-header {
    margin-bottom: 50px;
}

.accord-btn {
    width: 100%;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.accord-title {
    font-size: var(--fs-xl);
    color: var(--text-x-light-gray);
    font-weight: 500;
    text-transform: capitalize;
    transition: color 1s ease;
    align-self: center;
}

.accordion-item.active .accord-title,
.accord-btn:hover .accord-title {
    color: var(--main-color);
}

.accord-btn:hover .accord-title {
    color: var(--main-color);
}

.accord-icon {
    height: 50px;
    min-width: 50px;
    border-radius: 50%;
    color: var(--main-color);
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .7s ease;
    font-size: var(--fs-lg);
}

.accordion-item.active .accord-icon {
    transform: rotate(90deg);
}
.accord-body {
    height: 0;
    overflow: hidden;
    transition: height .8s ease;
}
.accord-body-inner {
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 30px;
}

/* pricing section */
.pricing {
    padding: 70px 0;
}

.pricing-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
}
.pricing-header {
    margin-bottom: 50px;
    align-self: center;
}
.pricing-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: start;
}

.price-cards {
    border: 1px solid var(--border-color);
    padding: 30px;
}

.price-cards:nth-child(2) {
    margin-top: 100px;
}

.price-title {
    font-size: var(--fs-2xl);
    font-weight: 600;
    text-transform: capitalize;
}

.price-body {
    padding: 30px 0;
}

.price-item {
    text-transform: capitalize;
    position: relative;
}

.price-item + .price-item {
    margin-top: 10px;
}

.price-item i {
    padding-right: 10px;
}

.pricing-wrap{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
}

.price {
    font-size: var(--fs-3xl);
    color: var(--text-x-light-gray);
    font-weight: bold;
}

.price-session {
    font-size: var(--fs-sm);
    text-transform: capitalize;
}

/* team section */
.team {
    padding: 70px 0;
}

.team-header {
    margin-bottom: 50px;
}

.team-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 150px;
}

.team-items{
    position: relative;
}

.team-img-box {
    position: relative;
    overflow: hidden;
}

.team-img {
    transition: opacity 0.5s ease;
}

.team-items:hover .team-img {
    opacity: 0.4;
}

.team-items:nth-child(even) {
    margin-top: 150px;
}

.team-text {
    margin-top: 10px;
}

.team-name {
    font-size: var(--fs-lg);
    margin-bottom: 5px;
    font-weight: 500;
    text-transform: capitalize;
}

.team-details {
    color: var(--main-color);
    text-transform: capitalize;
}

.social {
    display: flex;
    gap: 25px;
}

.social-link {
    display: inline-flex;
    color: var(--main-color);
    align-items: center;
    justify-content: center;
    transition: color 0.5s ease;
}

.social-link:hover {
    color: var(--text-x-light-gray);
}

.team-social {
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0;
    transition: opacity 0.5s ease;
    display: flex;
    flex-direction: column;
    font-size: var(--fs-2xl);
}

.team-items:hover .team-social {
    opacity: 1;
}

/* contact section */

.contact {
    padding: 70px 0;
}

.contact-header {
    margin-bottom: 50px;
}

.contact-wrap {
    display: flex;
    justify-content: space-between;
}

.info-text + .info-text {
    margin-top: 25px;
}

.info-title {
    font-size: var(--fs-xl);
    color: var(--text-x-light-gray);
    font-weight: bold;
}

.contact-btn {
    margin-top: 30px;
}

.contact-form {
    width: 50%;
}

.form-item + .form-item {
    margin-top: 25px;
}

.form-control {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: var(--text-x-light-gray);
}
.form-control:focus {
    outline: none;
}
.form-control::placeholder{
    color: var(--text-light-gray);
}

.form-control-message {
    display: block;
    height: 150px;
    resize: none;
}

.footer {
    padding: 70px 0;
}

.footer-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.footer-title {
    color: var(--text-x-light-gray);
    font-size: var(--fs-xl);
    margin-bottom: 25px;
    text-transform: capitalize;
}

.footer-item .days {
    font-size: var(--fs-md);
    color: var(--text-x-light-gray);
    font-weight: bold;
}
.footer-item p {
    margin-top: 0;
}

.footer-form {
    display: flex;
    align-items: center;
}
.footer-icon {
    color: var(--main-color);
}

.footer-item:nth-last-child(1) {
    width: 30%;
}

/* media queries */
@media (max-width: 767px) {
    :root {
        --fs-md: 18px;
        --fs-lg: 20px;
        --fs-xl: 23px;
        --fs-2xl: 26px; 
    }

    .home-back {
        padding-right: 0px;
        opacity: 0.6;
    }
    .accord-body-inner {
        grid-template-columns: 1fr;
    }

    .pricing-container {
        grid-template-columns: 1fr;
    }
    .price-cards:nth-child(2) {
        margin-top: 0px;
    }
    .pricing-cards {
        grid-template-columns: 1fr;
    }
    .team-row {
        gap: 55px;
    }
    .contact-wrap {
        flex-direction: column;
    }
    .contact-info {
        margin-bottom: 20px;
    }

    .footer-container {
        flex-direction: column;
        gap: 30px;
    }
    .footer-title {
        margin-bottom: 10px;
    }
    .footer-item:nth-last-child(1) {
        width: 100%;
    }
}